# Environment Config
# Reference these in your code with process.env.SECRET

SLACK_TOKEN=xoxp-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx-xxxxxxxxxx
SLACK_VERIFICATION_TOKEN=xxxxxxxxxxxxx

CHROMATIC_TOKEN=xxxxxxxxxxx

DEBUG_MODE=false

# Set this to Slack channel ID to send test messages when debug mode is enabled.
SANDBOX_CHANNEL_ID=ZZZZZZZZ

# note: .env is a shell file so there can't be spaces around =
